* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

.maincontainer {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* top: 50%;
    left: 50%; */
    width: 295px;
    height: 580px;
    /* background: rgb(134, 239, 139); */
}

.maincontainer .phoneborder {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 8px solid #333;
    outline: 2px solid silver;
    border-radius: 41px;
}

.display {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.number_display {
    width: 100%;
    height: 30vh;
    /* background: #94f; */
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}

.number_display_box {
    position: relative;
    display: flex;
    top: 40px;
    width: 90%;
    height: 30%;
    /* background: #444; */
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.number_display .number_display_box .number_display h2 {
    display: flex;
    flex-direction: row;
    top: 20px;
    align-items: center;
    justify-content: center;
}

.number_buttons {
    display: grid;
    position: relative;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.number_buttons>div {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.number_buttons span {
    display: flex;
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #e0e0e0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}

.number_buttons span h5 {
    font-size: 0.3em;
    font-weight: 800;
    display: none;
}

.call img {
    width: 55px;
    height: 55px;
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* justify-content: center; */
    /* background: rgb(255, 76, 76); */
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.footer .favrouites,
.recents,
.contacts,
.keypad,
.voicemail {
    width: 25px;
    height: 25px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}